body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', sans-serif;
}

h1 {
    color: #66bfbf;
    font-size: 5.62em;
    margin-top: 0;
    font-family: 'Sacramento', sans-serif;
}

h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: normal;
}

h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style: dotted none none;
    border-width: 10px;
    width: 6%;
    color: gray;
    margin-top: 100px;
    margin-bottom: 100px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding: 100px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 400px;
}

.image-profile{
    border-color: aqua;
    border: solid;
   border-radius: 50%;
   height: 200px;
   width: 200px;
}

.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 200%;
}

.image-skills1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    float: left;
}

.image-skills2 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    float: right;
    background-color: aquamarine;
}


.middle-container .skill-row .image-skills1{
    margin: 30px;

}

.middle-container .skill .skill-row .skill-skill2{
    margin-right: 30px;
}
.middle-container .profile .image-profile {
    height: 100px;
    width: 100px;
}
.contact-me{
    margin:  100px 400px 50px 400px;
    line-height: 2;
}
.btn{
    background-color: #66bfb6;
    color: white;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-decoration: none;
    
}

.name{
    color: white;
}
.bottom-container{
    background-color: #119991;
    height: 150px;

}

.footer-link{
    text-decoration: none;
    padding: 30px 20px;
    display: inline-block;
    color: #12e3eb;
}